.rounded2 { border-radius: 6px; }
.rounded3 { border-radius: 8px; }
.rounded4 { border-radius: 18px; }
.rounded5 { border-radius: 36px; }

.rounded-left2 { border-radius: 6px 0 0 6px; }
.rounded-right2 { border-radius: 0 6px 6px 0; }