.rotate-45deg { transform: rotate(45deg); }
.rotate-90deg { transform: rotate(90deg); }
.rotate-180deg { transform: rotate(180deg); }

.transform-origin-65 { transform-origin: 65%; }
.transform-center { transform-origin: center center; }
